modules = ["python-3.12"]
run = "gunicorn --timeout 100 -b 0.0.0.0:80 app:app"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn --timeout 100 -b 0.0.0.0:80 app:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 80

[env]
REPLIT_PYTHON_PACKAGE_LAYER = "1"
