<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sieg FPL - Your Fantasy Premier League Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Include any additional scripts or styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3Z5Y74FG9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-G3Z5Y74FG9');
    </script>
    <!-- Local Storage Scripts -->
    <script>
        function loadStoredValues() {
            const teamId = localStorage.getItem('teamId') || '';
            document.getElementById('team_id').value = teamId;

            const freeTransfers = localStorage.getItem('freeTransfers') || '';
            document.getElementById('free_transfers').value = freeTransfers;
        }

        function saveValues() {
            const teamId = document.getElementById('team_id').value;
            localStorage.setItem('teamId', teamId);

            const freeTransfers = document.getElementById('free_transfers').value;
            localStorage.setItem('freeTransfers', freeTransfers);
        }

        window.onload = loadStoredValues;
    </script>
</head>
<body>
    <header>
        <h1>Sieg FPL 🚀</h1>
        <h5>Your Fantasy Premier League Companion</h5>
    </header>

    <main>
        <div class="main-container">
            <!-- Left Side: Pitch -->
            <section class="left-container">
                <!-- Pitch Section -->
                <div class="pitch">
                    {% if result %}
                        <div class="stats-overlay">
                            <div class="stats-card">
                                <div class="stats-label">Team Cost</div>
                                <div class="stats-value">£{{ result.total_cost/10 }}M</div>
                            </div>
                            <div class="stats-card">
                                <div class="stats-label"> xPoints</div>
                                <div class="stats-value">{{ result.predicted_points }}</div>
                            </div>
                        </div>
                        {% for player in result.best_11 %}
                            <div class="player {{ player.position }}" style="left: {{ player.x }}%;">
                                <div class="player-card">
                                    <img
                                        src="{{ url_for('static', filename='img/shirts/shirt_' + (player.player_team|string + '_1-220.webp' if player.position == 'GK' else player.player_team|string + '-220.webp')) }}"
                                        alt="{{ player.web_name }}'s Shirt"
                                        class="player-shirt">
                                    <div class="player-name">{{ player.web_name }}</div>
                                    <div class="player-points">{{ player.xPts }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Substitutes Section -->
                {% if result %}
                <div class="substitutes">
                    {% set best_11_ids = result.best_11|map(attribute='element')|list %}
                    {% for player in result.squad %}
                        {% if player.element not in best_11_ids %}
                            <div class="substitute-player">
                                <div class="player-card">
                                    <img
                                        src="{{ url_for('static', filename='img/shirts/shirt_' + (player.player_team|string + '_1-220.webp' if player.position == 'GK' else player.player_team|string + '-220.webp')) }}"
                                        alt="{{ player.web_name }}'s Shirt"
                                        class="player-shirt">
                                    <div class="player-name">{{ player.web_name }}</div>
                                    <div class="player-points">{{ player.xPts }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </section>
            <!-- Right Side: Input Form -->
            <section class="right-container">
                <div class="container">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    <form method="POST" onsubmit="saveValues()">
                        <label for="team_id">Team ID</label>
                        <input type="number" id="team_id" name="team_id" required placeholder="Enter your FPL team ID">

                        <label for="free_transfers">Available Free Transfers</label>
                        <input type="number" id="free_transfers" name="free_transfers" required placeholder="Enter free transfers">

                        <label for="wildcard">
                            <input type="checkbox" id="wildcard" name="wildcard">
                            Using Wildcard
                        </label>

                        <input type="submit" value="Get Best Squad">
                    </form>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <p>More graveyard of fleeting excitements at <a href="https://infinitetrooper.com" target="_blank">InfiniteTrooper</a>.</p>
    </footer>
</body>
</html>
