<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Best Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="pitch">
        {% for player in best_11 %}
            <div class="player {{ player.position }}" style="left: {{ player.x }}%;">
                <button type="button" class="TXkrm">
                    <span class="bvQCVH fxXomS">
                        <span class="cebDFJ">
                            <picture>
                                {% if player.position == 'GK' %}
                                    <img src="{{ url_for('static', filename='img/shirts/shirt_' + player.player_team|string + '_1-220.webp') }}"
                                         alt="{{ player.name }}'s Shirt"
                                         class="ileRrz">
                                {% else %}
                                    <img src="{{ url_for('static', filename='img/shirts/shirt_' + player.player_team|string + '-220.webp') }}"
                                         alt="{{ player.name }}'s Shirt"
                                         class="ileRrz">
                                {% endif %}
                            </picture>
                        </span>
                        <span class="huoEoG">
                            <span class="eypCPX">{{ player.name }}</span>
                            <div class="gA-DNjC">{{ player.xPts }}</div>
                        </span>
                    </span>
                </button>
            </div>
        {% endfor %}
    </div>
</body>
</html>